body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Cambia el color de fondo predeterminado */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #336699;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
    flex: 1; /* Permite que la sección se expanda para llenar el espacio restante */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos en el eje horizontal */
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

label,
input[type="number"],
select,
input[type="text"],
button {
    width: 100%; /* Ocupa el 100% del ancho de su contenedor */
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #336699;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #224466;
}

p {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    section {
        margin: 10px; /* Reduce el margen en pantallas más pequeñas */
    }
}

