header{
    background-color: #336699;
    color: white;
    padding: 20px;
}
h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
}
label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
}
input[type="number"],
select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
section{
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

label[for="pagoInicial"],
label[for="totalafinanciar"],
label[for="pagomensual"]{
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
}
input[type="text"]{
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button{
    padding: 10px 20px;
    background-color: #336699;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #224466;
}

p{
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 12px;
}

@media  screen and (max-width:700px) {
    nav,.row{
        flex-direction: column;
    }
    body{background-color: black;}
}